.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.tablet-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tablet-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 200px;
  text-align: left;
}

footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
